body{
	font-family: "Trirong", serif;

}
#me{

	width: 200px;
	height: 200px;
}
.carousel .item {
  height: 300px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

