body{
	font-family: "Trirong", serif;
	background-color: #212A3E;

}
#me{

	width: 200px;
	height: 200px;
}
.carousel .item {
  height: 300px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#landing{
	background-color: #212A3E;

}
.jumbotron{

	background-color: #212A3E;
}
#contact{
	background-color: #212A3E
}
label,h2, h3{

	color: white;
}
.d-block{

/*	height: 250px;
	width: 250px;
	 background-position: center center;
  background-size: cover;*/

}

